@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Roboto:wght@300&display=swap');

/*  This file contains the variables used throughout the project, making it easier to manage
    colors, fonts, and other reusable properties.*/
    
$font-body: "Roboto", "sans-serif";
$font-display: "Playpen Sans"; 

$color-primary: #28497a;
$color-primary-light: rgb(94, 191, 236);
$color-secondary: rgba(73, 68, 68, 0.847);
$color-white: #fafafa;
$color-yellow: rgb(251, 251, 209);